@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;